<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">PostApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user">User</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <a
          class="nav-link"
          *ngIf="!authService.loggedIn()"
          routerLink="/auth/login"
          routerLinkActive="active"
          >Login</a
        >

        <a
          class="nav-link"
          *ngIf="!authService.loggedIn()"
          routerLink="/register"
          routerLinkActive="active"
          >Register</a
        >
        <a
          class="nav-link"
          (click)="logOut()"
          *ngIf="authService.loggedIn()"
          style="cursor: pointer"
          >Logout</a
        >
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
